*.cbp
*.depend
*.layout
*.exe
*.o
*.bak
*~
*.gch
*.swp
*.out
**/nbproject/*
**/build/*
**/dist/*
*.inc
**/Makefile
*.stackdump
*.class
**/workspace.xml
**/tasks.xml
**/uiDesigner.xml
